@use '@/styles/theme.scss' as *;
@use '@/styles/screen.scss' as *;

.app {
    font-family: 'Nunito Sans', serif;
    max-height: 100vh;
    padding-bottom: 60px;
    display: flex;

    @include theme {
        background-color: $background-color;
        color: $text-color;
    }
}